{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
<strong>Tags : {{ tag.name }} </strong>
<ul>
                {% for article in tag.articles %}

                <li>{{ article.title }} </li>
        {% else %}
                <li>No tags for this article</li>
        {% endfor %}

</ul>
{% endblock %}